# Node modules
node_modules/

# Chrome extension files
*.crx
*.pem

# macos files
.DS_Store

# Webstorm files
.idea

#json dict files
dictsJson/

# Chrome extension build files
dist/

# Python cache files
**/__pycache__/
*.py[cod]
*$py.class
