<!doctype html>
<html>
    <head>
        <title>Complexa</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../dist/scripts/ui/app.js" defer></script>
    </head>
    <body>
        <div class="app-container">
            <div class="content-container glassmorphism">
                <h1 class="app-title">Complexa</h1>
                <p class="app-subtitle">
                    A linguistics and AI powered language learning tool
                </p>

                <div id="app-container">
                    <p>App content will be implemented in future updates.</p>
                </div>
            </div>
        </div>
    </body>
</html>
